body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

.navbar-default {
	background: black;
}

#logo-1 {
	color: white;
}

#attrButton {
	color: white;
}

#box {
	background-color:rgba(255,255,255,.8);
	border-bottom: 1px solid black;
}

#coll {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 80%;
	margin: auto;
}

button {
	margin: 3px;
	border: 1px solid black;
	color: black;
}

#results-container {
	margin-top: 30px;
	background: white;
	border: 1px solid black;
}

#move {
	background: red;
	border: none;
	color: white;
	padding: 10px;
}